/****************************************************
                      VARIABLES COULEURS
*****************************************************/

$main-bg-color: rgba(200, 173, 127, 0.7);
$content-bg-color: rgba(200, 173, 127, 0.5);
$nav-bg-color: #C8AD7F;
$main-text-color: #223663;
$aliceblue: #F0F8FF;
$error: red;
$border-error: 1px solid #ff6a6a;
$background-color-error: #ffeded;
/****************************************************
                      VARIABLES MODAL
*****************************************************/

$content-width: 500px;